*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Library/FailedAssetImports.txt
/Library/CurrentLayout.dwlt
/Library/expandedItems
/Library/guidmapper
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
